body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#main {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(227, 227, 227);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#container {
    text-align: center;
    margin-bottom: 20px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

#title {
    text-align: center;
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

#img-div {
    text-align: center;
}

#image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#img-caption {
    font-style: italic;
    color: #666;
    margin-top: 10px;
}

#tribute-info {
    font-size: 1em;
    color: #444;
    margin-bottom: 20px;
    text-align: center;
}

#tribute-link-cont {
    text-decoration: none;
    font-size: 1em;
    text-align: center;
}

a {
    color: #007bff;
}

a:hover {
    color: #7b00ff;
    text-decoration: underline;
}

#tribute-content {
    text-align: center;
    margin-bottom: 20px;
}

#tribute-content h6 {
    font-size: 1.5em;
    color: #333;
}

#rest-content {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rest-content ul {
    line-height: 30px;
    list-style-type: none;
}